@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&display=swap');



nav {
    text-transform: uppercase;
    transition: .3s;
    z-index: 1000;

}

.navbar-brand {
    padding-top: 1rem;
    padding-bottom: 0rem;
}

.navbar-brand>img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.bg-image-1>img {
    margin-top: -5rem;
    position: relative;
    opacity: 85%;

}

.navbar-collapse {
    background-color: white;
}

.navbar-collapse>a {
    color: black;

}

.navbar-brand,
.nav-link {
    padding-right: 1rem;
}

.navbar-collapse>ul>li>a {
    color: black;
    display: flex;
    padding: 0, 5rem, 0, 5rem;
    align-self: center;
    

}


.first-page-image>img {

    z-index: 100;
}

.first-page-image>.container>p {
    z-index: 1000;
    margin-top: -60rem;
    margin-bottom: -15rem;
    margin-left: 10rem;
    padding: 15rem;
    color: white;
    position: relative;
    font-size: 35px;
    text-align: block;
    font-family: 'Delicous Handrawn', 'cursive';

}

.first-page-image>.container>h1 {
    position: relative;
    color: white;
}

.first-page-image>.container>.Last-name {
    margin-top: 18rem;
}

.first-page-image>.container>.Second-name {
    margin-top: 16rem;
    margin-bottom: -18rem;
}

.first-page-image>.container>.first-name {
    margin-top: 14rem;
    margin-bottom: -16rem;

}

.second-page {
    margin-top: 15.4rem;
}

.bg-image-2 {
    opacity: 80%;
    z-index: -1000;

}

.second-page>.container>p {
    position: relative;
    margin-top: -45rem;
    margin-bottom: 50rem;
    color: white;
    font-size: 30px;
    text-align: center;

}

.profile-image {
    height: auto;
    width: 25%;
    border: 5px solid grey;
    border-radius: 5rem;
    position: relative;
    z-index: 1000;
    margin-top: -22rem;
    margin-left: 35rem;

}

.third-page {
    margin-top: 5rem;
}

.about-me {
    border: 1px #332F2E s;
}

.about-me>h1 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 70px;
    font-display: block;
}

.about-me>p {
    font-size: 20px;
    margin: -4rem, 0, 1rem, 0;
    font-display: inherit;
    display: block;

}

.about-me>img {
    height: auto;
    width: 10%;
    margin-top: -13rem;
    margin-left: 60rem;
    position: absolute;
}

.skills {
    margin-left: 50rem;
}

.skills>h1 {
    font-size: 70px;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.skills>div {
    font-size: 25px;
    text-transform: uppercase;
}




.java-level {
    margin-top: 153.5rem;
    margin-left: 28rem;
    width: 300px;
    height: 24px;
    border-radius: 20px;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.java-level::after {
    content: '';
    background: linear-gradient(135deg, #fd0000, #1d00ff);
    width: 0;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    animation: java 1.5s linear forwards;
}

@keyframes java {
    100% {
        width: 65%;
    }
}

.jQuery-level {
    margin-top: 155.8rem;
    margin-left: 28rem;
    width: 300px;
    height: 24px;
    border-radius: 20px;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.jQuery-level::after {
    content: '';
    background: linear-gradient(135deg, #fd0000, #1d00ff);
    width: 0;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    animation: jquery 1.5s linear forwards;
}

@keyframes jquery {
    100% {
        width: 60%;
    }
}


.c-lang {
    margin-top: 158.2rem;
    margin-left: 28rem;
    width: 300px;
    height: 24px;
    border-radius: 20px;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.c-lang::after {
    content: '';
    background: linear-gradient(135deg, #fd0000, #1d00ff);
    width: 0;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    animation: c-lang 1.5s linear forwards;
}

@keyframes c-lang {
    100% {
        width: 40%;
    }
}


.vb-level {
    margin-top: 160.5rem;
    margin-left: 28rem;
    width: 300px;
    height: 24px;
    border-radius: 20px;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.vb-level::after {
    content: '';
    background: linear-gradient(135deg, #fd0000, #1d00ff);
    width: 0;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    animation: vb-level 1.5s linear forwards;
}

@keyframes vb-level {
    100% {
        width: 65%;
    }
}

.gis-level {
    margin-top: 162.6rem;
    margin-left: 28rem;
    width: 300px;
    height: 24px;
    border-radius: 20px;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.gis-level::after {
    content: '';
    background: linear-gradient(135deg, #fd0000, #1d00ff);
    width: 0;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    animation: gis-prog 1.5s linear forwards;
}

@keyframes gis-prog {
    100% {
        width: 50%;
    }
}

.skills>img {
    position: absolute;
    height: auto;
    width: 10%;
    margin-left: -40rem;
    margin-top: -10rem;
}

.exp-job>h1 {
    margin-bottom: 3rem;
    font-size: 50px;
    text-transform: uppercase;
}

.exp-job>img {
    position: absolute;
    width: auto;
    height: 25%;
    margin-left: 50rem;
    margin-top: -20rem;
}

.prog-lang {
    background-color: black;
    color: white;
    margin: 0;
    height: 50vh;
    width: auto;
}

.btn-success,
.btn-warning {

    margin-bottom: 0rem;
    margin-top: 3rem;
    margin-right: 5rem;
    margin-left: 5rem;
    display: inline-block;
    text-align: center;
    padding: 5rem, 0, 0, 0;
    font-size: 25px;
}

.button-section {
    text-align: center;

}


.prog-lang>.prog-text {
    text-align: center;
    margin-top: 5rem;
}

.prog-lang>.prog-text>h3,
h5 {
    margin-top: 1rem;
}

.prog-lang>.prog-text>img {
    width: 10%;
    height: auto;
    border-radius: 5px;
}